@import "./colors.css";

.game-ctr {
	display: flex;
	justify-content: center;
	align-items: center;

	@media (orientation: portrait) {
		width: 100%;
		height: 100%;
	}

	@media (orientation: landscape) {
		width: calc(100% - 20px);
		height: calc(100% - 20px);
		margin: 20px;
	}
}

.game {
	width: 100%;
	height: 100%;

	display: grid;

	@media (orientation: portrait) {
		grid-template-rows: auto auto 1fr;
		grid-template-columns: 1fr;
		grid-template-areas:
			"a_info"
			"a_board"
			"a_act";
		gap: 5px;
	}

	@media (orientation: landscape) {
		gap: 5px;
		grid-template-columns: minmax(0, 50dvh) auto;
		grid-template-rows: auto 1fr;
		grid-template-areas:
			"a_info a_board"
			"a_act  a_board";

		justify-content: center;
	}
}

.game-panel {
	background-color: var(--col-bgPanel);
	border-radius: 8px;
	padding: 20px;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.game-info {
	grid-area: a_info;

	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
	container-type: inline-size;

	@media (orientation: portrait) {
		flex-direction: row;
		gap: 30px;
		align-items: flex-end;
	}

	@media (orientation: landscape) {
		flex-direction: row;
		gap: 20px;
		align-items: flex-end;
	}
}

@container (max-width: 320px) {
	.game-info-donate {
		display: none;
	}
}

.game-actions {
	grid-area: a_act;

	width: 100%;
	height: 100%;
}

.game-board {
	grid-area: a_board;
	aspect-ratio: 1/1;
	max-width: 100%;
	max-height: 100%;
	padding: 0px;

	/* Disable default gesture/dragging hints */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
	user-select: none;
	touch-action: none;
}